@{
    ViewData["Title"] = "Thanh toán thành công";
}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    
</div>
<!-- Single Page Header End -->
<!-- 404 Start -->
<div class="container-fluid py-5">
    <div class="container py-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="bi bi-check-circle display-1 text-success"></i>
                <h1 class="mb-4">Đặt hàng thành công</h1>
                <p class="mb-4">Cám ơn bạn đã đặt hàng của chúng tôi</p>
                <a class="btn border-secondary rounded-pill py-3 px-5" asp-action="Index" asp-controller="Home">Trở về trang chủ</a>
            </div>
        </div>
    </div>
</div>
<!-- 404 End -->
